footer{
    position: absolute;
}
.img{
    display: flex;
    margin-top: 120vw;
}

h1{
    font-family: "Cormorant", serif;
    font-style: italic;
    color: white;
    font-size: 5vw;
}
.help{
    margin-top: -30vw;
    margin-left: 2vw;
}
.help1{
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1.4vw;
    margin-top: 1.5vw;
}
.forma{
    margin-top: 2vw;
    margin-left: 2vw;
}
input{
    font-family: "Open Sans", serif;
    font-size: 1.4vw;
    background-color: white;
    padding: 0.5vw;
    padding-right: 10vw;
    margin-bottom: 1vw;
}
.otp{
    position: absolute;
    margin-top: -1.6vw;
    margin-left: 2vw;
    font-size: 1.6vw;
    background-color: #BAE249 ;
    color: #0B1919;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    padding-left: 3.8vw;
    padding-right: 3.8vw;
    font-family: "Open Sans", serif;
}
.koni{
    margin-top: 7vw;
    width: 15vw;
    margin-left: 40vw;
    margin-bottom: 3vw;
}