.telo1{
    position: absolute;
    .flow3{
        margin-top: 8vw;
        display: flex;
    }
    .frame {
        
        border: 0.2px solid black;
        display: inline-block;
        width: 20vw;
        margin: 2.2vw;
        
    }
    img {
        
        width: 100%;
       
    }
    .fig{
        
        font-family: "Cormorant", serif;
        color: white;
        font-size: 2.3vw;
        margin-top: 1.6vw;
        margin-left: 1vw;
    }
    .text4{
        font-family: "Open Sans", sans-serif;
        color: #899D9D;
        font-size: 1.5vw;
        margin-left: 1vw;
        margin-bottom: 8vw;
        margin-top: 1vw;
        margin-right: 1vw;
    }
    .button {
    
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 2vw;
        border: 1px solid #BAE249;
        color: #BAE249;
        text-align: center;
        font-size: 1vw;
        font-family: "Open Sans", sans-serif;
      }
      .knop1{
        display: flex;
        margin-top: -10vw;
        margin-left: 3vw;
      }

      .knop2{
        display: flex;
        margin-top: -5.9vw;
        margin-left: 27.5vw;
      }
      .knop3{
        display: flex;
        margin-top: -5.8vw;
        margin-left: 52vw;
      }
      .knop4{
        display: flex;
        margin-top: -5.7vw;
        margin-left: 76.5vw;
      }
      .new{
        font-family: "Cormorant", serif;
        font-style: italic;
        color: white;
        font-size: 5vw;
        margin-top: 10vw;
        margin-left: 2.5vw;
      }
      .kurische{
        margin-left: 2.5vw;
        margin-top: 3vw;
        width: 67vw;
      }
      .text5{
        font-family: "Cormorant", serif;
        color: #1D2F30;
        padding-bottom: 1.6vw;
        font-size: 2vw;
      }
      .text6{
        font-family: "Open Sans", sans-serif;
        color:#506829 ;
        font-size: 1.4vw;
      }
      .text{
        background-color: #BAE249;
        margin-top: -40vw;
        margin-left: 72vw;
        margin-right: 4.5vw;
        padding-top: 2.7vw;
        padding-left: 2.7vw;
        padding-right: 2.7vw;
        padding-bottom: 1.7vw;
      }
      .text7{
        font-family: "Open Sans", sans-serif;
        color: #0B1919;
        font-size: 1.5vw;
        
        padding-top: 3vw;
      }
      .strelka2{
        margin-top: -2vw;
        width: 5vw;
        margin-left: 12vw;
      }
}